<div id="artwork-dialog-modal">
<h2 mat-dialog-title>{{ artwork.title }}</h2>

<mat-dialog-content>
	<mat-tab-group mat-align-tabs="center">
	  <mat-tab label="Artwork Information">
	  	<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" id="artwork-information">
		  	<div fxFlex="100">
		  		<img *ngIf="artwork.description" class="with-description" src="https://www.collectionartnb.ca/{{artwork.image}}">
		  		<img *ngIf="!artwork.description" class="without-description" src="https://www.collectionartnb.ca/{{artwork.image}}">
		  		<div [innerHTML]="artwork.description"></div>
		  	</div>

		  	<hr>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Year Created
					  	<mat-chip>
					    	{{artwork.year_created}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Year Acquired
					  	<mat-chip>
					    	{{artwork.year_acquired}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Culture
					  	<mat-chip *ngFor="let culture of artwork.cultures">
					    	{{culture.name}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Medium
					  	<mat-chip *ngFor="let medium of artwork.medium">
					    	{{medium.name}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Surfaces
					  	<mat-chip *ngFor="let surface of artwork.surfaces">
					    	{{surface.name}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>

		  	<div fxFlex="100">
		  		<mat-chip-list cdkDropListOrientation="horizontal">
		  			<p>Art Forms
					  	<mat-chip *ngFor="let artform of artwork.artforms">
					    	{{artform.name}}
					  	</mat-chip>
						</p>
					</mat-chip-list>
				</div>
		  </div>

		  <hr>
	  </mat-tab>


	  <mat-tab label="Artists Information">
	  	<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" id="artists-information">
			  <div fxFlex="100" *ngFor="let artist of artwork.artists">
			  	<div class="container">
			  		<h1 class="text-center">{{artist.name}}</h1>
				  	<img *ngIf="artist.description && artist.image" class="with-description" src="https://www.collectionartnb.ca/{{artist.image}}">
				  	<img *ngIf="!artist.description && artist.image" class="without-description" src="https://www.collectionartnb.ca/{{artist.image}}">
				  	<div [innerHTML]="artist.description"></div>
			  	</div>
			  </div>
		  </div>
	  </mat-tab>
	</mat-tab-group>
</mat-dialog-content>


<mat-dialog-actions>
    <a mat-raised-button (click)="close()">CLOSE</a>
</mat-dialog-actions>
</div>