<div *ngIf="loading" id="loading-screen">
	<div id="spinner">
		<div id="spinner-spin"></div>
	  <h3 id="spinner-text">Loading Exhibitions</h3>
	</div>
</div>

<section id="exhibitions-list">
	<div fxLayout.xs="column" fxLayout="row wrap" fxLayoutGap="10px" ngClass.gt-xs="ml-10">
	  <mat-card class="exhibitions-card" *ngFor="let exhibition of exhibitions" fxFlex.sm="0 1 calc(50%)" fxFlex.md="0 1 calc(33%)" fxFlex.gt-md="0 1 calc(25%)">
			<mat-card-header>
		    <mat-card-title>{{ exhibition.title }}</mat-card-title>
		  	<mat-card-subtitle>{{ exhibition.total }} Artworks</mat-card-subtitle>
		  </mat-card-header>

		  <mat-card-content>
		  	<div>
		    	<img *ngIf="exhibition.image" mat-card-image src="https://www.collectionartnb.ca/{{ exhibition.image }}" alt="Image {{ exhibition.title }}">
		    	<div [innerHTML]="exhibition.description"></div>

			  </div>
		  </mat-card-content>

		  <mat-card-actions>
		    <a [routerLink]="['/exhibitions', exhibition.slug]" mat-raised-button color="primary">VIEW</a>
		  </mat-card-actions>
		</mat-card>
	</div>
</section>
