#exhibitions-list {
  margin: 25px 0;
}

.exhibitions-card mat-card-actions a {
  width: 100%;
}

.exhibitions-card {
  width: 100%;
}

.exhibitions-card mat-card-content img {
  width: 100%;
  margin: 0!important;
}