html {
	width: 100%;
	height: 100%;
}

body {
  width: 90%;
  height: 100%;
  margin: 0 5%;
  padding: 0!important;
	font-family: Roboto, "Helvetica Neue", sans-serif; 
}

.text-center {
  text-align: center;
}

/* ============== Loading screen ============== */ 

#loading-screen {
  width: 100%;
  height: 100%;
  background: #2980b9;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
}

#loading-screen {
  -webkit-animation: alterateBackground 20s infinite;
  animation: 20s infinite alterateBackground;
}

#loading-screen #spinner {
  position: absolute;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

#loading-screen #spinner #spinner-spin {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border-top: solid 5px rgba(200, 200, 200, 0.3);
  border-right: solid 5px rgba(200, 200, 200, 0.3);
  border-bottom: solid 5px rgba(200, 200, 200, 0.3);
  border-left: solid 5px white;
  -webkit-animation: spinnerSpin 1s infinite linear;
  animation: spinnerSpin 1s infinite linear;
}

#loading-screen #spinner #spinner-text {
  position: absolute;
  font-family: Lato, sans-serif;
  top: calc(50% - 15px);
  left: 10px;
  text-align: center;
  color: #fff;
  font-size: 20px;
  font-weight: 600;
}


/* ============== MatInput ============== */ 
.mat-card-header-text {
  margin-left: 0!important;
}

.mat-form-field-label, .mat-focused{
  caret-color: white;
  color:white !important;
}

.mat-form-field-outline{
  caret-color: white;
  color:white !important;
}


/* ============== CSS Animations ============== */ 

/* Change loading screen background */
@keyframes alterateBackground {
  0% {
    background-color: #1abc9c;
  }
  25% {
    background-color: #2c3e50;
  }
  50% {
    background-color: #d35400;
  }
  75% {
    background-color: #27ae60;
  }
  100% {
    background-color: #ffcb65;
  }
}

@-webkit-keyframes alterateBackground {
  0% {
    background-color: #1abc9c;
  }
  25% {
    background-color: #2c3e50;
  }
  50% {
    background-color: #d35400;
  }
  75% {
    background-color: #27ae60;
  }
  100% {
    background-color: #ffcb65;
  }
}

/* Rotate spinner */
@keyframes spinnerSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spinnerSpin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}